:root {
  --primary-color: #541484;
  --secondary-color: #ed6c11;
  --green: #448414;
  --primary-shadow: 0 4px 15px 0 #541484c0;
  --secondary-shadow: 0 4px 15px 0 #ed6d11b9;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: 0.5rem;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  box-shadow: var(--primary-shadow);
}

.btn-lg {
  padding-inline: var(--bs-btn-padding-x);
  padding-block: var(--bs-btn-padding-y);
  font-size: var(--bs-btn-font-size);
  border-radius: var(--bs-btn-border-radius);
}

.custom-btn {
  position: relative;
  margin: 0px auto;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: var(--primary-shadow);
  color: #fff;
  overflow: hidden;
}

.custom-btn:hover {
  color: var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  z-index: 1000;
}
